@page "/"

<h1>例子3</h1>

<div class="d-table">
    @if (Users == null)
    {
        <div>empty</div>
    }
    else
    {
        @foreach (var user in Users)
        {
            <div>@user.UserName</div>
            @foreach (var order in user.Orders)
            {
                <div>@order.OrderId @order.Item</div>
            }
        }
    }
</div>