@page "/"

<h1>例子3</h1>

<div class="d-table">



    @if (Users == null)
    {
        <div>empty</div>
    }
    else
    {
        @foreach (var user in Users)
        {
            <div>
                <span>@user.UserName</span>
                @foreach (var order in user.Orders)
                {
                    <span>@order.OrderId @order.Item</span>
                }
            </div>
        }

        <div>
            <div>@PageIndex</div>
            <div @onclick="SetPageIndex">下一页</div>
        </div>
    }
</div>