<div class="my-component">
    <button @onclick="TestGrpc">测试Grpc</button>
    This Blazor component is defined in the <strong>DynamicTable</strong> package.
    <button @onclick="Test">测试</button>
</div>

<div>
    结果 :
    @foreach (var temp in _list)
    {
        <div>@temp</div>
    }
</div>