@inherits ComponentBase

<div class="my-component">
    This Blazor component is defined in the <strong>DynamicTable</strong> package.
</div>

<button @onclick="Test">测试</button>

<br>

<button @onclick="TestGrpc">测试Grpc</button>

<div>
    结果 : 
    @foreach (var temp in _list)
    {
        <div>@temp</div>
    }
</div>
