@typeparam TItem

<table class="table">
    @_header(this)
    
</table>

@code{

    RenderFragment<DynamicTableComponent<TItem>> _header = table =>
        @<Template>
            <CascadingValue Name="IsHeader" Value="true">
                @table.ChildContent(_fieldModel)
            </CascadingValue>
        </Template>;

}