@page "/"

<h1>例子</h1>

<div class="d-table">
    
    <div class="d-head">

    </div>
    <div class="d-body">

    </div>
    <div class="d-foot">

    </div>
</div>

@code{

    private class Pet
    {
        public int PetId { get; set; }
        public string Name { get; set; }
    }

    private List<Pet> _pets = new()
    {
        new Pet {PetId = 2, Name = "Mr. Bigglesworth"},
        new Pet {PetId = 4, Name = "Salem Saberhagen"},
        new Pet {PetId = 7, Name = "K-9"}
    };

}