# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.DynamicTable.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\RiderProjects\DynamicTable\.idea\.idea.DynamicTable\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
